.btn_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  outline: none;
  border: none;
}
.menu_list_container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.delete_icons {
  margin-top: 10px;
  padding: 4px 8px;
  background-color: rgb(255, 87, 34);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  top: -3px;
  right: 6px;
  position: absolute;
}
