.btn_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  outline: none;
  border: none;
}
.menu_list_container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
